.wrapper {
    --height-live-container: calc(100% - 60px);

    width: 100%;
    height: var(--height-live-container);

    margin: var(--default-layout-header-height) 24px 0 24px;

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    overflow: hidden;
}

.tabs-wrapper {
    width: 100%;
    height: 24px;

    z-index: 2;
    position: relative;

    background-color: var(--white);

    &:hover {
        .tabs-container {
            visibility: hidden;
            animation: 300ms animation-feed-tabs-2;
        }
        .showed-tabs {
            visibility: visible;
            animation: 300ms cubic-bezier(0.17, 0, 0.22, 0.99) 0s 1 normal none running animation-feed-tabs-2;
        }
    }
}

.tabs-container {
    left: calc(100% - 50% - (96px / 2));

    width: 96px;
    height: 16px;

    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    position: absolute;

    background-color: rgba(241, 241, 241, 1);

    animation: 300ms cubic-bezier(0.17, 0, 0.22, 0.99) 0s 1 normal none running animation-feed-tabs;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);

    .tabs {
        height: 100%;

        padding: 0 16px;

        display: flex;
        align-items: center;

        cursor: pointer;

        .tab-item {
            width: 24px;
            height: 4px;

            margin: 0 4px;

            border-radius: 14px;

            background-color: rgba(22, 24, 35, 0.06);
        }

        //
        .active {
            background-color: rgba(22, 24, 35, 1);
        }
    }
}
.showed-tabs {
    visibility: hidden;

    top: 8px;
    left: calc(100% - 50% - (296px / 2));
    z-index: 3;
    position: absolute;

    height: 46px;

    padding: 12px 8px;

    border-radius: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--white);

    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);

    cursor: pointer;

    .feed-tab {
        width: 132px;
        height: 30px;

        margin: 4px;
        border-radius: 100px;

        font-size: 1.5rem;
        font-weight: 600;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--background-color-hover);

        &:hover {
            background-color: rgba(22, 24, 35, 0.06);
        }
    }

    .feed-active {
        color: var(--white);
        background-color: black;

        &:hover {
            color: black;
        }
    }
}

@keyframes animation-feed-tabs {
    0% {
        transform: scale(2, 2);
    }

    50% {
        transform: scale(0.6, 0.6);
    }

    100% {
        transform: scale(1, 1);
    }
}
@keyframes animation-feed-tabs-2 {
    0% {
        transform: scale(0.6, 0.6);
    }
    70% {
        transform: scale(1.03, 1.03);
    }
    100% {
        transform: scale(1, 1);
    }
}

.button {
    top: calc(var(--height-live-container) - 60%);
    right: 24px;

    width: 36px;
    height: 80px;

    display: flex;
    flex-direction: column;

    z-index: 2;
    position: absolute;

    cursor: pointer;

    .switch-live {
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        color: rgb(255, 255, 255);
        background-color: rgba(37, 37, 37, 0.6);

        &:hover {
            background-color: rgba(84, 84, 84, 0.5);
        }
    }

    //custom button styles
    .disabled {
        color: rgba(255, 255, 255, 0.34);
        cursor: not-allowed;
        &:hover {
            background-color: rgba(37, 37, 37, 0.6);
        }
    }

    .prev {
        border-radius: 100px 100px 0 0;
    }

    .next {
        border-radius: 0 0 100px 100px;
    }
}

.live-container {
    width: 100%;

    flex: 1;

    z-index: 1;
    position: relative;
}

.list-live-video {
    top: 0;
    width: 100%;
    height: calc(var(--height-live-container) + 12px);

    border-radius: 4px;

    position: absolute;
}
