:root {
    --width-sidebar: 246px;
}
.wrapper {
    margin-top: var(--default-layout-header-height);
    display: flex;
}
.container {
    width: 100vw;
    display: flex;
}
.side-bar {
    width: 246px;
    height: 100vh;
}

.main-content {
    width: calc(100% - 246px);
    display: flex;
    justify-content: center;
}
