.item {
    height: 100%;

    margin-bottom: 24px;

    border-radius: 4px;

    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;

        border-radius: 4px;

        object-fit: cover;

        z-index: 1;
        position: absolute;
    }

    &:hover {
        .player-details {
            transform: translateY(0px);
        }
        .player-footer-container {
            opacity: 100;
        }
    }
}

.feed-player-controls {
    width: 100%;
    height: 100%;

    bottom: 32px;

    z-index: 10;
    position: absolute;

    cursor: pointer;

    .tips {
        width: 100%;
        height: 80%;

        margin-bottom: 30px;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        &:hover .tip-container {
            visibility: visible;
        }
    }
}

.tip-container {
    visibility: hidden;

    flex: 1;
    display: flex;
    align-items: center;

    .line {
        flex: 1 1 0%;

        height: 1px;

        margin: 0 12px;

        background-color: rgba(170, 169, 169, 0.17);
    }

    .tip-text {
        height: 22px;

        margin-right: 10px;

        font-size: 1.6rem;
        font-weight: 700;

        color: var(--white);
    }
}

.icon {
    width: 24px;
    height: 24px;

    margin-left: 10px;

    // SVG live icon
    .svg-live-icon {
        transform-origin: center center;
        transform: rotateZ(180deg);
        rect:nth-of-type(1) {
            animation: 0.5s ease-out 0s infinite normal none running animation-live-rect-1;
        }
        rect:nth-of-type(2) {
            animation: 0.5s ease-out 0s infinite normal none running animation-live-rect-2;
        }
        rect:nth-of-type(3) {
            animation: 0.5s ease-out 0s infinite normal none running animation-live-rect-3;
        }
    }
}
// animation icon live in the tip
@keyframes animation-live-rect-1 {
    0% {
        y: 4px;
        height: 10px;
    }

    40% {
        y: 4px;
        height: 12px;
    }

    70% {
        y: 4px;
        height: 6px;
    }

    100% {
        y: 4px;
        height: 10px;
    }
}
@keyframes animation-live-rect-2 {
    0% {
        y: 4px;
        height: 6px;
    }

    40% {
        y: 4px;
        height: 10px;
    }
    70% {
        y: 4px;
        height: 12px;
    }
    100% {
        y: 4px;
        height: 6px;
    }
}
@keyframes animation-live-rect-3 {
    0% {
        y: 4px;
        height: 8px;
    }

    40% {
        y: 4px;
        height: 12px;
    }
    70% {
        y: 4px;
        height: 6px;
    }
    100% {
        y: 4px;
        height: 8px;
    }
}

.player-details {
    width: fit-content;

    margin: 0 12px;

    display: flex;
    flex-direction: column;

    color: var(--white);

    transform: translateY(35px);
    transition: all 150ms linear 0s;

    &:hover {
        transform: translateY(0px);
    }

    .status-player {
        width: 40px;
        height: 20px;

        padding: 1px 5px 2px;

        border-radius: 2px;

        font-size: 1.2rem;
        font-weight: 700;
        line-height: 20px;
        text-align: center;

        background-image: linear-gradient(131.17deg, rgb(255, 23, 100), rgb(237, 52, 149));
    }
    .details-line {
        height: 26px;

        margin: 4px 0;

        font-size: 1.6rem;

        display: flex;
        align-items: center;

        // line 1 - views, nickname
        .nick-name {
            margin-right: 12px;

            font-size: 1.6rem;
            font-weight: 700;
        }

        .views {
            font-size: 1.4rem;
            font-weight: 600;
        }
    }
}

.player-footer-container {
    z-index: 1;
    position: relative;

    opacity: 0;
    transition: opacity 150ms linear 0s;

    .control-bar {
        height: 40px;
        margin: 0 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: var(--white);

        .inner-controller {
            display: flex;
            // content left
            .icon-controller {
                width: 24px;
                height: 24px;

                margin-right: 14px;

                display: flex;
                justify-content: center;
                align-items: center;

                position: relative;
                cursor: pointer;
            }

            //tippy messages auto play
            .tip-messages {
                font-size: 1.4rem;
                font-weight: 400;
                text-align: center;
            }

            // content right

            .auto-play-container {
                width: fit-content;
                height: 100%;

                margin-right: 24px;

                .icon-auto-play {
                    height: 26px;

                    padding: 0 12px;

                    border-radius: 4px;

                    font-size: 12px;
                    line-height: 16px;

                    display: flex;
                    align-items: center;

                    background-color: rgba(37, 37, 37, 0.6);

                    cursor: pointer;

                    .btn-auto-play {
                        margin-left: 4px;

                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
            .volume {
                min-height: 28px;

                padding: 0 6px;

                display: flex;

                position: relative;

                cursor: pointer;

                .slider-volume {
                    opacity: 0;

                    top: -70px;
                    left: -29px;

                    rotate: 90deg;

                    position: absolute;

                    transition: opacity 150ms linear 0s;

                    .volume-bar {
                        width: 100px;
                        height: 28px;

                        border-radius: 9999px;

                        position: relative;

                        background: rgb(18, 18, 18);

                        .drag-bar {
                            top: -26px;
                            left: 48px;

                            width: 4px;
                            height: 80px;

                            border-radius: 9999px;

                            rotate: 90deg;
                            position: absolute;

                            background: rgba(255, 255, 255, 0.5);
                        }
                        .dot {
                            width: 8px;
                            height: 8px;

                            border-radius: 50%;

                            top: 10px;
                            left: 82px;
                            position: absolute;

                            background: rgb(255, 255, 255);
                            box-shadow: rgba(0, 0, 0, 0.26) 0px 0px 5px 0px;
                        }
                    }
                }
                .icon-volume {
                    padding: 6px;

                    border-radius: 50%;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    background-color: rgba(37, 37, 37, 0.6);
                }
                &:hover {
                    .slider-volume {
                        opacity: 100;
                    }
                }
            }
        }
    }
}

//
.player-gradient {
    width: 100%;
    height: 100%;

    z-index: 5;
    position: absolute;

    background: linear-gradient(360deg, rgba(0, 0, 0, 0.7), transparent);
}
