.wrapper {
    margin-top: var(--default-layout-header-height);
    min-height: calc(100vh - 59px);
    padding: 0 46px;
    display: flex;
    flex-direction: column;
}

.container-content {
    padding-top: 96px;
}

// custom scrollbar
::-webkit-scrollbar {
    height: 0px !important;
}

// Container for video

.container-content {
    width: 100%;
}
.list-video-item {
    display: grid;
    grid-gap: 24px 16px;
    grid-template-columns: repeat(4, minmax(262px, 1fr));
}

.video-item {
    cursor: pointer;
    overflow: hidden;
    width: 100%;
}

.video {
    width: 100%;
    position: relative;
    z-index: -1;
    img {
        max-width: 262px;
        border-radius: 8px;
        width: 100%;
    }

    .view {
        color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        bottom: 5px;
        height: 100px;
        padding: 67px 12px 12px;
        width: 100%;
        left: 0;
        position: absolute;

        // number of video views
        span {
            margin-left: 4px;
        }
    }
}

.card-desc {
    width: 100%;
    height: 90px;
}

.caption {
    cursor: pointer;
    overflow: hidden;
}

.user {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .info {
        display: flex;
        align-items: center;
        img {
            cursor: pointer;
            object-fit: cover;
            width: 24px;
            height: 24px;
            border-radius: 50%;
        }

        .nickname {
            cursor: pointer;
            margin-left: 5px;
            margin-right: 2px;

            &:hover {
                text-decoration: underline;
            }
        }

        .check {
            font-size: 1.4rem;
            color: var(--check-icon-color);
        }
    }

    .like {
        cursor: pointer;
        color: rgba(22, 24, 35, 0.6);
        font-size: 1.6rem;
        font-weight: 600;
        justify-items: end;
        display: flex;
        align-items: center;
    }
}
