.wrapper {
    min-height: calc(100vh - 59px);

    margin-top: var(--default-layout-header-height);
    padding: 0 46px;

    display: flex;
    flex-direction: column;
}

.container-content {
    padding-top: 96px;
}

// custom scrollbar
::-webkit-scrollbar {
    height: 0px !important;
}

// Container for video

.container-content {
    width: 100%;
}
.list-video-item {
    display: grid;
    grid-gap: 24px 16px;
    grid-template-columns: repeat(4, minmax(262px, 1fr));
}
