.wrapper {
    max-width: 692px;

    margin: auto;
    padding: 20px 0;

    display: flex;

    border-bottom: 1px solid rgba(22, 24, 35, 0.12);
}

.avatar {
    margin-right: 12px;

    cursor: pointer;

    img {
        width: 56px;
        height: 56px;

        border-radius: 50%;
        object-fit: cover;
    }
}

.container-content {
    flex: 1 1 624px;

    width: 624px;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.header {
    position: relative;
}

.user-info {
    display: flex;
    align-items: center;

    .nickname {
        margin-right: 5px;

        font-size: 1.8rem;
        line-height: 2.4rem;
        font-weight: 700;

        display: inline-block;

        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .check {
        margin-right: 10px;

        font-size: 1.4rem;

        color: var(--check-icon-color);
    }

    .name {
        font-size: 1.4rem;
        font-weight: 400;

        cursor: pointer;
    }
}

.music {
    margin-top: 5px;
    margin-bottom: 12px;

    display: flex;
    align-items: center;

    overflow: hidden;

    span {
        margin-right: 10px;
        font-size: 1.2rem;
    }

    p {
        font-size: 1.4rem;
        font-weight: 400;

        &:hover {
            text-decoration: underline;
        }
    }
}

.wrapper-desc {
    display: flex;

    .desc-video {
        margin-right: 10px;
        word-wrap: break-word;
    }

    .hashtag {
        margin-left: 5px;

        font-weight: 600;

        color: rgba(43, 93, 185, 1);

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.btn-follow {
    right: 0;
    top: 10px;
    position: absolute;
}

.wrapper-video {
    display: flex;
    align-items: flex-end;
}

.video {
    height: calc(450px + (100vw - 768px) / 1152 * 200);

    margin-right: 24px;
    border-radius: 8px;

    position: relative;

    overflow: hidden;

    img {
        height: 100%;
        width: 100%;

        object-fit: cover;

        cursor: pointer;
    }
}

.container-actions {
    display: flex;
    flex-direction: column;
}

.btn-actions {
    bottom: 0;
}

.btn-item {
    margin: 12px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        width: 48px;
        height: 48px;

        border-radius: 60%;

        font-size: 2.4rem;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: rgba(22, 24, 35, 0.06);

        cursor: pointer;
    }

    strong {
        margin-top: 5px;

        font-size: 1.2rem;
        font-weight: 600;
    }
}
