.wrapper {
    height: 100%;
    display: flex block;
    left: 0px;
    flex-direction: column;
    position: fixed;
}

.scroll-side-bar {
    width: 100%;
    padding: 20px 8px 0 8px;
    overflow: auto;
    visibility: hidden;
    padding-right: 8px;
}

.inner-side-bar,
.scroll-side-bar:hover {
    visibility: visible;
}

::-webkit-scrollbar {
    width: 6px !important;
}
