.wrapper {
    height: 100vh;
    left: 0px;
    margin-top: var(--default-layout-header-height);

    display: flex;
    position: fixed;
}

.scroll-side-bar {
    width: 246px;
    padding: 20px 8px 0 8px;
    padding-right: 8px;

    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
}

.inner-side-bar,
.scroll-side-bar:hover {
    visibility: visible;
}

::-webkit-scrollbar {
    width: 6px !important;
}
.footer {
    padding: 16px 0 0 8px;

    height: 350px;
    font-size: 1.2rem;
    font-weight: 600;

    border-top: 1px solid rgba(22, 24, 35, 0.06);
    color: rgba(22, 24, 35, 0.5);
    .link-container {
        margin-bottom: 8px;
    }
    a {
        display: inline-block;

        margin: 5px 6px 0 0;

        color: rgba(22, 24, 35, 0.5);

        &:hover {
            text-decoration: underline;
        }
    }
}

//

.container-toggle-wrapper {
    position: relative;
    margin-left: 2px;
    height: 100vh;
    width: 50px;
    left: 0;
    border-left: 1px solid rgba(22, 24, 35, 0.12);
}
.button {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    left: -1px;
    top: 37%;
    width: 14px;
    height: 78px;
    box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-left: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
